body {
    background-color: antiquewhite;
    font-size: 30px;
}

header {
    background-color: aqua;
    text-align: center;
}

section {
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
}

.container{
    border: solid red 5px;
    height: 400px;
    width: 80%;
    margin: 10px;
    padding: 10px;
    background-color: deepskyblue;

    position: relative;
    left: 150px;
}

button{
    border: solid black 3px;
    border-radius: 7px;
    background-color: rgb(211, 211, 235);
    width: 200px;
    height: 50px;
}

button:hover{
    background-color: dimgray;
}

footer {
    background-color: cadetblue;
    text-align: center;
}